.calendula_theme_metro,
.calendula__tooltip_theme_metro
{
    font-family: Segoe UI, sans-serif;
    font-size: 12px;

    transform: translateY(-20%);

    color: #000;
    outline: 1px solid #ccc;
    background: #fff;
}

.calendula_theme_metro.calendula_opened
{
    transform: translateY(0);
}

.calendula_theme_metro .calendula__month,
.calendula_theme_metro .calendula__year
{
    color: #a0a0a0;
}

.calendula_theme_metro .calendula__month_color_0,
.calendula_theme_metro .calendula__year_color_0
{
    color: #000;
}

.calendula_theme_metro .calendula__month_color_1,
.calendula_theme_metro .calendula__year_color_1
{
    color: #606060;
}

.calendula_theme_metro .calendula__month_color_2,
.calendula_theme_metro .calendula__year_color_2
{
    color: #707070;
}

.calendula_theme_metro .calendula__month_color_3,
.calendula_theme_metro .calendula__year_color_3
{
    color: #808080;
}

.calendula_theme_metro .calendula__month_color_4,
.calendula_theme_metro .calendula__year_color_4
{
    color: #909090;
}

.calendula_theme_metro .calendula__days
{
    outline: 1px solid #ccc;
}

.calendula_theme_metro .calendula__days-container
{
    box-shadow: 1px inset #000;
}

.calendula_theme_metro .calendula__day_now
{
    outline: 1px dotted #ccc;
}

.calendula_theme_metro .calendula__day:hover
{
    outline: 1px solid #bbb;
}

.calendula_theme_metro .calendula__day_minmax:hover
{
    outline: none;
}

.calendula_theme_metro .calendula__month-selector,
.calendula_theme_metro .calendula__year-selector
{
    outline: 1px solid #ccc;
    background: #fff;
}

.calendula_theme_metro .calendula__years,
.calendula_theme_metro .calendula__months
{
    outline: 1px solid #ccc;
    background-color: #eee;
}

.calendula_theme_metro .calendula__short-daynames-cell_n_0,
.calendula_theme_metro .calendula__short-daynames-cell_n_6,
.calendula_theme_metro .calendula__day_holiday,
.calendula_theme_metro .calendula__day_highday
{
    color: red;
}

.calendula_theme_metro .calendula__day_nonholiday
{
    color: #000;
}

.calendula_theme_metro .calendula__day_minmax,
.calendula_theme_metro .calendula__days-title-month_minmax
{
    color: #aaa;
}

.calendula_theme_metro .calendula__day_selected
{
    color: #fff;
    background: #01b1e0;
}
