.calendula__tooltip
{
    display: none;
    position: absolute;

    border: 2px solid transparent;
}

.calendula__tooltip-text
{
    padding: 5px 8px;
}

.calendula__tooltip-tail
{
    position: absolute;

    left: 50%;
    bottom: -5px;
    margin-left: -5px;
    width: 10px;
    height: 5px;

    overflow: hidden;
}

.calendula__tooltip-tail:after
{
    position: absolute;

    left: 0;
    top: -5px;
    width: 6px;
    height: 6px;
    border: 2px solid transparent;

    background: #fff;
    content: '';
    
    transform: rotate(45deg);
    transform: rotate(45deg);
}

.calendula__day_has-title:after
{
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    
    border-style: solid;
    border-width: 0 5px 5px 0;
    border-color: transparent blue transparent;
    
    content: '';
}

.calendula__day_title-color_red:after
{
    border-color: transparent red transparent;
}

.calendula__day_title-color_orange:after
{
    border-color: transparent orange transparent;
}

.calendula__day_title-color_green:after
{
    border-color: transparent green transparent;
}

.calendula__tooltip_visible
{
    display: block;
}

.calendula__tooltip_color_default .calendula__tooltip-tail:after,
.calendula__tooltip_color_default
{
    border-color: rgba(0, 0, 255, 0.3);
}

.calendula__tooltip_color_red .calendula__tooltip-tail:after,
.calendula__tooltip_color_red
{
    border-color: rgba(255, 0, 0, 0.3);
}

.calendula__tooltip_color_green .calendula__tooltip-tail:after,
.calendula__tooltip_color_green
{
    border-color: rgba(0, 255, 0, 0.3);
}

.calendula__tooltip_color_orange .calendula__tooltip-tail:after,
.calendula__tooltip_color_orange
{
    border-color: rgba(255, 165, 0, 0.3);
}
