.calendula_theme_android,
.calendula__tooltip_theme_android
{
    font-family: Helvetica, sans-serif;
    font-size: 12px;

    color: #000;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 0 5px #b0b0b0;
}

.calendula_theme_android .calendula__days
{
    border-radius: 3px;
    outline: 1px solid rgba(0,0,0,.1);
}

.calendula_theme_android .calendula__days-container
{
    box-shadow: 1px solid rgba(0,0,0,.1);
}

.calendula_theme_android .calendula__day_now
{
    outline: 1px dotted #aaa;
}

.calendula_theme_android .calendula__day:hover
{
    outline: 1px solid #bbb;
}

.calendula_theme_android .calendula__day_minmax:hover
{
    outline: none;
}

.calendula_theme_android .calendula__month,
.calendula_theme_android .calendula__year
{
    color: #a0a0a0;
}

.calendula_theme_android .calendula__month_color_0,
.calendula_theme_android .calendula__year_color_0
{
    color: #000;
}

.calendula_theme_android .calendula__month_color_1,
.calendula_theme_android .calendula__year_color_1
{
    color: #606060;
}

.calendula_theme_android .calendula__month_color_2,
.calendula_theme_android .calendula__year_color_2
{
    color: #707070;
}

.calendula_theme_android .calendula__month_color_3,
.calendula_theme_android .calendula__year_color_3
{
    color: #808080;
}

.calendula_theme_android .calendula__month_color_4,
.calendula_theme_android .calendula__year_color_4
{
    color: #909090;
}

.calendula_theme_android .calendula__month-selector,
.calendula_theme_android .calendula__year-selector
{
    background: rgba(160, 216, 239, 0.3);
    box-shadow: 1px 1px 1px #d0d0d0;
   
}

.calendula_theme_android .calendula__month-selector-i,
.calendula_theme_android .calendula__year-selector-i
{
    background: rgba(160, 216, 239, 0.3);
}

.calendula_theme_android .calendula__years,
.calendula_theme_android .calendula__months
{
    border-radius: 3px;
    outline: 1px solid rgba(0,0,0,.1);
    background-color: #ebeeee;
}

.calendula_theme_android .calendula__short-daynames-cell_n_0,
.calendula_theme_android .calendula__short-daynames-cell_n_6,
.calendula_theme_android .calendula__day_holiday,
.calendula_theme_android .calendula__day_highday
{
    color: gray;
}

.calendula_theme_android .calendula__day_nonholiday
{
    color: #000;
}

.calendula_theme_android .calendula__day_minmax,
.calendula_theme_android .calendula__days-title-month_minmax
{
    color: #aaa;
}

.calendula_theme_android .calendula__day_selected
{
    color: #000;
    background: #A0D8EF;
}
