.calendula__tooltip
{
    position: absolute;

    display: none;

    border: 2px solid transparent;
}

.calendula__tooltip-text
{
    padding: 5px 8px;
}

.calendula__tooltip-tail
{
    position: absolute;
    bottom: -5px;
    left: 50%;

    overflow: hidden;

    width: 10px;
    height: 5px;
    margin-left: -5px;
}

.calendula__tooltip-tail:after
{
    position: absolute;
    top: -5px;
    left: 0;

    width: 6px;
    height: 6px;

    content: '';
    transform: rotate(45deg);

    border: 2px solid transparent;
    background: #fff;
}

.calendula__day_has-title:after
{
    position: absolute;
    top: 0;
    right: 0;

    width: 0;
    height: 0;

    content: '';

    border-width: 0 5px 5px 0;
    border-style: solid;
    border-color: transparent blue transparent;
}

.calendula__day_title-color_red:after
{
    border-color: transparent red transparent;
}

.calendula__day_title-color_orange:after
{
    border-color: transparent orange transparent;
}

.calendula__day_title-color_green:after
{
    border-color: transparent green transparent;
}

.calendula__tooltip_visible
{
    display: block;
}

.calendula__tooltip_color_default .calendula__tooltip-tail:after,
.calendula__tooltip_color_default
{
    border-color: rgba(0, 0, 255, .3);
}

.calendula__tooltip_color_red .calendula__tooltip-tail:after,
.calendula__tooltip_color_red
{
    border-color: rgba(255, 0, 0, .3);
}

.calendula__tooltip_color_green .calendula__tooltip-tail:after,
.calendula__tooltip_color_green
{
    border-color: rgba(0, 255, 0, .3);
}

.calendula__tooltip_color_orange .calendula__tooltip-tail:after,
.calendula__tooltip_color_orange
{
    border-color: rgba(255, 165, 0, .3);
}
