.calendula
{
    position: absolute;

    visibility: hidden;

    width: 310px;
    height: 310px;
    margin-top: 1px;

    -moz-user-select: none;
         user-select: none;
         
    -webkit-transition: visibility 0s linear .2s, opacity .2s linear, transform 0.2s linear;
            transition: visibility 0s linear .2s, opacity .2s linear, transform 0.2s linear;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    opacity: 0;
}

.calendula_opened
{
    visibility: visible;

    -webkit-transition-delay: 0s;
            transition-delay: 0s;

    opacity: 1;
}

.calendula__container
{
    position: absolute;
    top: 26px;
    right: 6px;
    bottom: 6px;
    left: 6px;
}

.calendula__short-weekdays
{
    position: absolute;
    top: 4px;
    left: 12px;

    cursor: default;
}

.calendula__short-weekdays-cell
{
    float: left;
    overflow-x: hidden;

    width: 22px;

    text-align: center;
}

.calendula__days
{
    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 166px;
    height: 100%;
    height: 100%;

    cursor: default;
}

.calendula__days_noanim .calendula__days-container,
.calendula__months_noanim .calendula__month-selector,
.calendula__years_noanim .calendula__year-selector
{
    -webkit-transition: none;
            transition: none;
}

.calendula__days-month
{
    margin-top: 7px;
}

.calendula__days-month:first-child
{
    margin-top: 0;
}

.calendula__days-table
{
    width: 157px;

    table-layout: fixed;
}

.calendula__days-container
{
    position: relative;
    top: 0;
    left: 5px;

    -webkit-transition: top .2s linear;
            transition: top .2s linear;
}

.calendula__days-title-month
{
    font-weight: bold;

    padding-left: 4px;

    text-align: left;
}

.calendula__day
{
    -webkit-transition: border-radius .2s linear;
            transition: border-radius .2s linear;
    text-align: center;
}

.calendula__day_minmax
{
    cursor: default;
}

.calendula__month
{
    line-height: 23px;

    position: relative;
    z-index: 10;

    padding-left: 6px;

    -webkit-transition: color .2s linear;
            transition: color .2s linear;
    vertical-align: middle;
}

.calendula__month-selector
{
    height: 48px;
}

.calendula__year-selector
{
    height: 21px;
    margin-top: 1px;

    -webkit-transition: top .2s linear;
            transition: top .2s linear;
}

.calendula__month-selector,
.calendula__year-selector
{
    position: absolute;
    top: 26px;
    right: 1px;
    left: 1px;

    -webkit-transition: top .2s ease-in;
            transition: top .2s ease-in;
}

.calendula__month-selector-i,
.calendula__year-selector-i
{
    position: absolute;
    top: 50%;
    left: 0;

    width: 100%;
    height: 50%;
}

.calendula__months
{
    left: 166px;

    width: 67px;
}

.calendula__years
{
    left: 233px;

    width: 66px;
}

.calendula__years-container
{
    position: relative;

    -webkit-transition: top .2s linear;
            transition: top .2s linear;
}

.calendula__years,
.calendula__months
{
    position: absolute;
    top: 0;

    overflow: hidden;

    height: 100%;

    cursor: default;
}

.calendula__year
{
    line-height: 23px;

    position: relative;
    z-index: 10;

    padding-left: 16px;

    -webkit-transition: color .2s linear;
            transition: color .2s linear;
    vertical-align: middle;
}
