.calendula_theme_black,
.calendula__tooltip_theme_black
{
    font-family: Arial, sans-serif;
    font-size: 12px;

    color: #fff;
    border-radius: 3px;
    background: #000;
    box-shadow: 0 0 20px #b0b0b0;
}

.calendula_theme_black .calendula__days
{
    border-radius: 3px;
    box-shadow: inset 0 0 5px 0 rgba(255, 255, 255, .2);
}

.calendula_theme_black .calendula__days-container
{
    box-shadow: 5px inset #fff;
}

.calendula_theme_black .calendula__day_now
{
    outline: 1px dotted #aaa;
}

.calendula_theme_black .calendula__day:hover
{
    outline: 1px solid #bbb;
}

.calendula_theme_black .calendula__day_minmax:hover
{
    outline: none;
}

.calendula_theme_black .calendula__month,
.calendula_theme_black .calendula__year
{
    color: #606060;
}

.calendula_theme_black .calendula__month_color_0,
.calendula_theme_black .calendula__year_color_0
{
    color: #fff;
}

.calendula_theme_black .calendula__month_color_1,
.calendula_theme_black .calendula__year_color_1
{
    color: #a0a0a0;
}

.calendula_theme_black .calendula__month_color_2,
.calendula_theme_black .calendula__year_color_2
{
    color: #909090;
}

.calendula_theme_black .calendula__month_color_3,
.calendula_theme_black .calendula__year_color_3
{
    color: #808080;
}

.calendula_theme_black .calendula__month_color_4,
.calendula_theme_black .calendula__year_color_4
{
    color: #707070;
}

.calendula_theme_black .calendula__month-selector,
.calendula_theme_black .calendula__year-selector
{
    border-radius: 3px;
    background: #000;
    box-shadow: 0 2px 5px #505050;
}

.calendula_theme_black .calendula__month-selector-i,
.calendula_theme_black .calendula__year-selector-i
{
    border-radius: 0 0 3px 3px;
    background: #1f1f1f;
    background: linear-gradient(to bottom, #1f1f1f 0%, #000 100%);
}

.calendula_theme_black .calendula__years,
.calendula_theme_black .calendula__months
{
    border-radius: 3px;
    background-color: #151515;
    box-shadow: inset 0 0 5px 0 rgba(255, 255, 255, .2);
}

.calendula_theme_black .calendula__short-daynames-cell_n_0,
.calendula_theme_black .calendula__short-daynames-cell_n_6,
.calendula_theme_black .calendula__day_holiday,
.calendula_theme_black .calendula__day_highday
{
    color: gray;
}

.calendula_theme_black .calendula__day_nonholiday
{
    color: #000;
}

.calendula_theme_black .calendula__day_minmax,
.calendula_theme_black .calendula__days-title-month_minmax
{
    color: #aaa;
}

.calendula_theme_black .calendula__day_selected
{
    color: #fff;
    border-radius: 10px;
    background: #ffec95;
    background: linear-gradient(to bottom, #ffec95 0%,#ff8f56 100%);
    text-shadow: 1px 1px 3px #000;
}
