.calendula_theme_metro,
.calendula__tooltip_theme_metro
{
    font-family: Segoe UI, sans-serif;
    font-size: 12px;

    transform: translateY(-20%);

    color: #000;
    outline: 1px solid #ccc;
    background: #fff;
}

.calendula_theme_metro.calendula_opened
{
    transform: translateY(0%);
}

.calendula_theme_metro .calendula
{
    &__month,
    &__year
    {
        color: #a0a0a0;
    }

    &__month_color_0,
    &__year_color_0
    {
        color: #000;
    }

    &__month_color_1,
    &__year_color_1
    {
        color: #606060;
    }

    &__month_color_2,
    &__year_color_2
    {
        color: #707070;
    }

    &__month_color_3,
    &__year_color_3
    {
        color: #808080;
    }

    &__month_color_4,
    &__year_color_4
    {
        color: #909090;
    }

    &__days
    {
        outline: 1px solid #ccc;
    }

    &__day_now
    {
        outline: 1px dotted #ccc;
    }

    &__day:hover
    {
        outline: 1px solid #bbb;
    }

    &__day_minmax:hover
    {
        outline: none;
    }

    &__month-selector,
    &__year-selector
    {
        outline: 1px solid #ccc;
        background: #fff;
    }

    &__years,
    &__months
    {
        outline: 1px solid #ccc;
        background-color: #eee;
    }

    &__short-daynames-cell_n_0,
    &__short-daynames-cell_n_6,
    &__day_holiday,
    &__day_highday
    {
        color: red;
    }

    &__day_nonholiday
    {
        color: #000;
    }

    &__day_minmax,
    &__days-title-month_minmax
    {
        color: #aaa;
    }

    &__day_selected
    {
        color: #fff;
        background: #01b1e0;
    }
}
