{
    "rules": {
        "semi": [2, "always"],
        "quotes": [2, "single"]
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "Calendula": true,
        "define": true,
        "module": true
    },
    "extends": "eslint:recommended"
}
