.calendula
{
    position: absolute;

    visibility: hidden;

    margin-top: 1px;
    width: 310px;
    height: 310px;

    -moz-user-select: none;
         user-select: none;
    transition: visibility 0s linear .2s, margin-top .2s linear, opacity .2s linear;

    opacity: 0;
}

.calendula_opened
{
    visibility: visible;

    transition: visibility 0s linear, margin-top .2s linear, opacity .2s linear;

    opacity: 1;
}

.calendula__container
{
    position: absolute;
    top: 26px;
    right: 6px;
    bottom: 6px;
    left: 6px;
}

.calendula__short-weekdays
{
    position: absolute;
    top: 4px;
    left: 12px;
    cursor: default;
}

.calendula__short-weekdays-cell_n_5,
.calendula__short-weekdays-cell_n_6
{
    color: red;
}

.calendula__short-weekdays-cell
{
    width: 18px;

    text-align: center;
}

.calendula__days
{
    position: absolute;
    top: 0;
    left: 0;

    width: 166px;
    height: 100%;

    cursor: default;
}

.calendula__days-month
{
    margin-top: 7px;
}

.calendula__days-month:first-child
{
    margin-top: 0;
}

.calendula__days-table
{
    width: 156px;

    table-layout: fixed;
}

.calendula__days
{
    overflow: hidden;

    height: 100%;

    text-align: right;
}

.calendula__days-container
{
    position: relative;
    top: 0;
    transition: top 0.3s linear;
}

.calendula__days-title-month
{
    font-weight: bold;

    padding-left: 8px;

    text-align: left;
}

.calendula__day
{
    transition: border-radius 0.1s linear;
}

.calendula__day_holiday
{
    color: red;
}

.calendula__month
{
    line-height: 23px;

    position: relative;
    z-index: 10;

    padding-left: 6px;

    vertical-align: middle;
}

.calendula__month-selector
{
    height: 52px;
}

.calendula__year-selector
{
    height: 26px;
}

.calendula__month-selector,
.calendula__year-selector
{
    position: absolute;
    top: 26px;
    right: 1px;
    left: 1px;

    transition: top .15s ease-in;
}

.calendula__month-selector-i,
.calendula__year-selector-i
{
    position: absolute;
    top: 50%;
    left: 0;

    width: 100%;
    height: 50%;
}

.calendula__months
{
    left: 166px;

    width: 67px;
}

.calendula__years
{
    left: 233px;

    width: 66px;
}

.calendula__years,
.calendula__months
{
    position: absolute;
    top: 0;

    overflow: hidden;

    height: 100%;

    cursor: default;
}

.calendula__year
{
    line-height: 23px;

    position: relative;
    z-index: 10;

    padding-left: 6px;

    vertical-align: middle;
}

.calendula__year-selector
{
    transition: top .4s linear;
}
