.calendula
{
    &__tooltip
    {
        position: absolute;

        display: none;

        border: 2px solid transparent;
        
        z-index: 1010;
    }

    &__tooltip-text
    {
        padding: 5px 8px;
    }

    &__tooltip-tail
    {
        position: absolute;
        bottom: -5px;
        left: 50%;

        overflow: hidden;

        width: 10px;
        height: 5px;
        margin-left: -5px;
    }

    &__tooltip-tail:after
    {
        position: absolute;
        top: -5px;
        left: 0;

        width: 6px;
        height: 6px;

        content: '';
        transform: rotate(45deg);

        border: 2px solid transparent;
        background: #fff;
    }

    &__day_has-title:after
    {
        position: absolute;
        top: 0;
        right: 0;

        width: 0;
        height: 0;

        content: '';

        border-width: 0 5px 5px 0;
        border-style: solid;
        border-color: transparent blue transparent;
    }

    &__tooltip_visible
    {
        display: block;
    }

    &__day_title-color_blue:after
    {
        border-color: transparent blue transparent;
    }

    &__tooltip_color_default &__tooltip-tail:after,
    &__tooltip_color_default,
    &__tooltip_color_blue &__tooltip-tail:after,
    &__tooltip_color_blue
    {
        border-color: rgba(0, 0, 255, .3);
    }

    &__day_title-color_red:after
    {
        border-color: transparent red transparent;
    }

    &__tooltip_color_red &__tooltip-tail:after,
    &__tooltip_color_red
    {
        border-color: rgba(255, 0, 0, .3);
    }

    &__day_title-color_green:after
    {
        border-color: transparent green transparent;
    }

    &__tooltip_color_green &__tooltip-tail:after,
    &__tooltip_color_green
    {
        border-color: rgba(0, 255, 0, .3);
    }

    &__day_title-color_orange:after
    {
        border-color: transparent orange transparent;
    }

    &__tooltip_color_orange &__tooltip-tail:after,
    &__tooltip_color_orange
    {
        border-color: rgba(255, 165, 0, .3);
    }

    &__day_title-color_white:after
    {
        border-color: transparent white transparent;
    }

    &__tooltip_color_white &__tooltip-tail:after,
    &__tooltip_color_white
    {
        border-color: rgba(255, 255, 255, .3);
    }

    &__day_title-color_black:after
    {
        border-color: transparent black transparent;
    }

    &__tooltip_color_black &__tooltip-tail:after,
    &__tooltip_color_black
    {
        border-color: rgba(0, 0, 0, .3);
    }

    &__day_title-color_yellow:after
    {
        border-color: transparent yellow transparent;
    }

    &__tooltip_color_yellow &__tooltip-tail:after,
    &__tooltip_color_yellow
    {
        border-color: rgba(255, 255, 0, .3);
    }

    &__day_title-color_purple:after
    {
        border-color: transparent purple transparent;
    }

    &__tooltip_color_purple &__tooltip-tail:after,
    &__tooltip_color_purple
    {
        border-color: rgba(128, 0, 128, .3);
    }

    &__day_title-color_olive:after
    {
        border-color: transparent olive transparent;
    }

    &__tooltip_color_olive &__tooltip-tail:after,
    &__tooltip_color_olive
    {
        border-color: rgba(128, 128, 0, .3);
    }
}
