html,
body {
    margin: 0;
    padding: 0;

    border: 0;
}

.nav {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    position: fixed;
    z-index: 10000;
    top: 5px;
    left: 10px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
}

.back {
    margin-right: 15px;
}

.prev {
    margin-right: 3px;
}

.button {
    padding: 4px 8px;

    transition: opacity .3s ease;
    text-decoration: none;

    color: rgba(0, 0, 0, .5);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .2);

    font-size: 12px;

    filter: grayscale(100%);
}

.button:hover {
    opacity: .5;
}
