.calendula
{
    position: absolute;

    visibility: hidden;

    margin-top: 1px;

    user-select: none;
    transition: visibility 0s linear .2s, opacity .2s linear, transform .2s linear;

    opacity: 0;

    z-index: 1000;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    -moz-user-select: none;
    user-select: none;

    &_opened
    {
        visibility: visible;

        transition-delay: 0s;

        opacity: 1;
    }

    &__container
    {
        display: flex;
        flex-direction: row;
        margin: 26px 6px 6px 6px;

        backface-visibility: hidden;
    }

    &__short-daynames
    {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: -19px;
        left: 5px;

        cursor: default;
    }

    &__short-daynames-cell
    {
        width: 2em;

        text-align: center;
    }

    &__days
    {
        overflow: hidden;

        height: 100%;

        cursor: default;
    }

    &__days,
    &__months,
    &__years {
        position: relative;
        overflow-y: hidden;
        height: 276px;
    }

    &__days-i {
        position: relative;
    }

    &__days_noanim &__days-container,
    &__months_noanim &__month-selector,
    &__years_noanim &__year-selector
    {
        transition: none;
    }

    &__days-month
    {
        margin-top: 7px;

        &:first-child
        {
            margin-top: 4px;
        }

        &:last-child
        {
            padding-bottom: 8px;
        }
    }

    &__days-table
    {
        width: 100%;

        border-spacing: 0 0;
        border-collapse: collapse;
    }

    &__days-container
    {
        position: relative;
        top: 0;
        margin: 0 5px;

        transition: transform .2s linear;
    }

    &__days-title-month
    {
        font-weight: bold;

        padding-left: 4px;

        text-align: left;
    }

    &__day
    {
        position: relative;

        box-sizing: border-box;
        width: 2em;
        padding: 4px 0;

        transition: border-radius .2s linear;
        text-align: center;
        vertical-align: middle;

        &_minmax
        {
            cursor: default;
        }
    }

    &__month
    {
        line-height: 23px;

        position: relative;
        z-index: 10;

        white-space: nowrap;

        padding-left: 10px;
        padding-right: 10px;

        transition: color .2s linear;
        vertical-align: middle;
    }

    &__month-selector
    {
        height: 48px;
    }

    &__year-selector
    {
        height: 21px;
        margin-top: 1px;

        transition: transform .2s linear;
    }

    &__month-selector,
    &__year-selector
    {
        position: absolute;
        right: 1px;
        left: 1px;

        transition: transform .2s ease-in;
    }

    &__month-selector-i,
    &__year-selector-i
    {
        position: absolute;
        top: 50%;
        left: 0;

        width: 100%;
        height: 50%;
    }

    &_days-after-months &__months
    {
        left: 0;
    }

    &__years-container
    {
        position: relative;

        transition: transition .2s linear;
    }

    &_days-after-months &__months {
        order: -1;
    }

    &__year
    {
        line-height: 23px;

        position: relative;
        z-index: 10;

        white-space: nowrap;

        padding-left: 16px;
        padding-right: 16px;

        transition: color .2s linear;
        vertical-align: middle;
    }
}

@import "./tooltip.scss";
