.calendula_theme_android,
.calendula__tooltip_theme_android
{
    font-family: Helvetica, sans-serif;
    font-size: 12px;

    color: #000;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 0 5px #b0b0b0;
}

.calendula_theme_android .calendula
{
    &__days
    {
        border-radius: 3px;
        outline: 1px solid rgba(0, 0, 0, .1);
    }

    &__day_now
    {
        outline: 1px dotted #aaa;
    }

    &__day:hover
    {
        outline: 1px solid #bbb;
    }

    &__day_minmax:hover
    {
        outline: none;
    }

    &__month,
    &__year
    {
        color: #a0a0a0;
    }

    &__month_color_0,
    &__year_color_0
    {
        color: #000;
    }

    &__month_color_1,
    &__year_color_1
    {
        color: #606060;
    }

    &__month_color_2,
    &__year_color_2
    {
        color: #707070;
    }

    &__month_color_3,
    &__year_color_3
    {
        color: #808080;
    }

    &__month_color_4,
    &__year_color_4
    {
        color: #909090;
    }

    &__month-selector,
    &__year-selector
    {
        background: rgba(160, 216, 239, .3);
        box-shadow: 1px 1px 1px #d0d0d0;
    }

    &__month-selector-i,
    &__year-selector-i
    {
        background: rgba(160, 216, 239, .3);
    }

    &__years,
    &__months
    {
        border-radius: 3px;
        outline: 1px solid rgba(0, 0, 0, .1);
        background-color: #ebeeee;
    }

    &__short-daynames-cell_n_0,
    &__short-daynames-cell_n_6,
    &__day_holiday,
    &__day_highday
    {
        color: gray;
    }

    &__day_nonholiday
    {
        color: #000;
    }

    &__day_minmax,
    &__days-title-month_minmax
    {
        color: #aaa;
    }

    &__day_selected
    {
        color: #000;
        background: #a0d8ef;
    }
}
